<div class="grid">
  <div class="grid-sizer"></div>
  <% artists.each do |artist| %>
    <% color = @colors.sample %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="front-card grid-item">
          <p><%= artist.name %></p>
          <%= cl_image_tag artist.photo.key if artist.photo.attached? %>
        </div>
        <div class="back-card grid-item" style="border: 4px solid rgba(<%= color %>)">
          <div class="artist-details">
            <% if artist.manage && artist.recording %>
              <span>MANAGE • RECORD</span>
            <% elsif artist.manage %>
              <span>MANAGE</span>
            <% else %>
              <span>RECORD</span>
            <% end %>
            <div class="artist-heading">
              <div class="text-highlighted">
                <p><%= artist.name %></p>
                <div class="underline" style="background-color: rgba(<%= color %>)"></div>
              </div>
              <div class="icons">
                <% if artist.spotify.length > 0 %>
                  <%= link_to artist.spotify, target: :blank do %>
                    <i class="fab fa-spotify" style="color: rgba(<%= color %>)"></i>
                  <% end %>
                <% end %>
                <% if artist.instagram.length > 0 %>
                  <%= link_to artist.instagram, target: :blank do %>
                    <i class="fab fa-instagram" style="color: rgba(<%= color %>)"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <% if artist.quote.length > 0 %>
              <p class="quote" style="color: rgba(<%= color %>)"><%= "\"#{artist.quote}\"" if artist.quote.length > 0 %></p>
              <p class="quoted-by" style="color: rgba(<%= color %>)"><%= artist.quoted_by if artist.quoted_by.length > 0 %></p>
            <% end %>
          </div>
          <%= cl_image_tag artist.photo.key if artist.photo.attached? %>
        </div>
      </div>
    </div>
  <% end %>
</div>
