<h1>Edit <%= @artist.name %></h1>

<%= simple_form_for @artist, url: update_artist_path(@artist)  do |f| %>
  <%= f.input :name %>
  <%= f.input :quote %>
  <%= f.input :quoted_by %>
  <%= f.input :spotify %>
  <%= f.input :instagram %>
  <%= f.input :manage %>
  <%= f.input :recording %>
  <%= f.input :photo, as: :file %>
  <%= f.submit value: "Save" %>
<% end %>
