<h1>Artists</h1>

<%= link_to "New artist", editor_artists_new_path %>

<% @artists.each do |artist| %>
  <div>
    <%= artist.name %>
    <%= cl_image_tag artist.photo.key, height: 300, width: 400, crop: :fill if artist.photo.attached? %>
    <%= "MANAGE" if artist.manage %>
    <%= "RECORD" if artist.recording %>
    <%= link_to "edit", edit_artist_path(artist) %>
    <%= link_to "delete", delete_artist_path(artist), method: :delete, data: { confirm: 'Do you really want to delete?' } %>
  </div>
<% end %>
