<div class="dropdown">
  <i class="fas fa-bars btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="<%= root_path %>">Home</a>
    <a class="dropdown-item" href="<%= about_path %>">About</a>
    <a class="dropdown-item artists-nav-item" href="<%= artists_path %>">Artists</a>
    <a class="dropdown-item" href="<%= releases_path %>">Releases</a>
    <a class="dropdown-item" href="<%= news_path %>">News</a>
    <a class="dropdown-item" href="https://dontsleep.ochre.store/" target="_blank">Shop</a>
  </div>
</div>
