<% if user_signed_in? %>
  <div id="transparent-nav" class="topnavbar">
    <div class="dropdown">
      <i class="fas fa-bars btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="color: black" href="<%= editor_path %>">✐ Editor</a>
        <%= link_to "↳ Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <a class="dropdown-item" style="color: rgba(56, 176, 208, 1)" href="<%= about_path %>">About</a>
        <a class="dropdown-item" style="color: rgba(151, 124, 186, 1)" href="<%= artists_path %>">Artists</a>
        <a class="dropdown-item" style="color: rgba(242, 86, 101, 0.79)" href="<%= releases_path %>">Releases</a>
        <a class="dropdown-item" style="color: rgba(112, 198, 171, 1)" href="<%= news_path %>">News</a>
        <a class="dropdown-item" style="color: rgba(246, 192, 48, 1)" href="#">Shop</a>
      </div>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "dontsleeplogo.png", height: '46' %>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn" %>
    </div>
  </div>
<% else %>
  <div id="transparent-nav" class="topnavbar">
    <%= render 'shared/nav_dropdown' %>
    <%= link_to root_path do %>
      <%= image_tag "dontsleeplogo.png", height: '46' %>
    <% end %>
  </div>
<% end %>
