<div class="editor-grid">
  <%= link_to editor_artists_new_path do %>
    <div class="editor-card add-card">
      <i class="fas fa-plus-circle"></i>
      <p>New artist</p>
    </div>
  <% end %>
  <% artists.each do |artist| %>
    <%= link_to edit_artist_path(artist) do %>
      <div class="editor-card">
        <%= cl_image_tag artist.photo.key if artist.photo.attached? %>
        <div class="artist-details">
          <% if artist.manage && artist.recording %>
            <span>MANAGE • RECORD</span>
          <% elsif artist.manage %>
            <span>MANAGE</span>
          <% else %>
            <span>RECORD</span>
          <% end %>
          <div class="artist-heading">
            <p><%= artist.name %></p>
            <div class="icons">
              <%= link_to edit_artist_path(artist) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to delete_artist_path(artist), method: :delete, data: { confirm: 'Do you really want to delete?' } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
