<div class="editor-grid">
  <div class="editor-card add-card" data-toggle="modal" data-target="#newArtistModal">
    <i class="fas fa-plus-circle"></i>
    <p>New artist</p>
  </div>
  <% artists.each do |artist| %>
    <div class="editor-card" data-toggle="modal" data-target="#editArtistModal">
      <%= cl_image_tag artist.photo.key if artist.photo.attached? %>
      <div class="artist-details">
        <% if artist.manage && artist.recording %>
          <span>MANAGE • RECORD</span>
        <% elsif artist.manage %>
          <span>MANAGE</span>
        <% else %>
          <span>RECORD</span>
        <% end %>
        <div class="artist-heading">
          <p><%= artist.name %></p>
          <div class="icons">
            <a data-toggle="modal" data-target="#editArtistModal"><i class="fas fa-edit"></i></a>
            <%= link_to delete_artist_path(artist), method: :delete, data: { confirm: 'Do you really want to delete?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit artist modal -->
    <%= render  'edit_artist', artist: artist %>
  <% end %>
</div>

<!-- New artist modal -->
<%= render  'new_artist', artist: @artist %>
