<div class="modal fade" id="newReleaseModal" tabindex="-1" aria-labelledby="newReleaseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newReleaseModalLabel">Create new release</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size: 16px; font-weight: 400"><strong>Spotify embed steps:</strong> Go to track/album > Share > Embed > Colour: Black, Size: Normal x 100% > Copy > Paste below</p>
        <p style="font-size: 16px; font-weight: 400"><strong>Image size:</strong> Preference 1MB or less, square shape</p>
        <%= simple_form_for release, url: create_release_path do |f| %>
          <%= f.input :track_title, label: :"track/album title" %>
          <%= f.input :artist_name %>
          <%#= f.input :spotify_link  %>
          <%= f.input :spotify_embed  %>
          <%= f.input :apple  %>
          <%#= f.input :tidal  %>
          <%= f.input :amazon  %>
          <%= f.input :photo, label: :image, class: "btn btn-primary", as: :file %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CANCEL</button>
          <%= f.submit value: "CREATE", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
