<div class="modal fade" id="newArtistModal" tabindex="-1" aria-labelledby="newArtistModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newArtistModalLabel">Create new artist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for artist, url: create_artist_path do |f| %>
          <%= f.input :name %>
          <%= f.input :quote %>
          <%= f.input :quoted_by %>
          <%= f.input :spotify, placeholder: 'Open artist in Spotify > Share > Copy link to artist' %>
          <%= f.input :instagram %>
          <%= f.input :manage, label: :management %>
          <%= f.input :recording %>
          <p style="font-size: 16px; font-weight: 400"><strong>Image size:</strong> Preference 1MB or less</p>
          <%= f.input :photo, label: false, class: "btn btn-primary", as: :file %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">CANCEL</button>
          <%= f.submit value: "CREATE", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
