<div class="editor-grid">
  <div class="editor-card add-card" data-toggle="modal" data-target="#newReleaseModal">
    <i class="fas fa-plus-circle"></i>
    <p>New release</p>
  </div>
  <% releases.each do |release| %>
    <div class="editor-card" data-toggle="modal" data-target="#editReleaseModal">
      <%= cl_image_tag release.photo.key if release.photo.attached? %>
      <div class="artist-details">
        <span><%= release.artist_name %></span>
        <div class="artist-heading">
          <p><%= release.track_title %></p>
          <div class="icons">
            <a data-toggle="modal" data-target="#editReleaseModal"><i class="fas fa-edit"></i></a>
            <%= link_to delete_release_path(release), method: :delete, data: { confirm: 'Do you really want to delete?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit release modal -->
    <%= render  'edit_release', release: release %>
  <% end %>
</div>

<!-- New release modal -->
<%= render  'new_release', release: @release %>
