<% @releases.each do |release| %>
  <% color = @colors.sample %>
  <div class="release-card" style="border: 4px solid rgba(<%= color %>)">
    <%= cl_image_tag release.photo.key if release.photo.attached? %>
    <div class="release-details">
      <div class="text-highlighted">
        <p><%= release.artist_name %></p>
        <div class="underline" style="background-color: rgba(<%= color %>)"></div>
      </div>
      <div class="text-highlighted">
        <p><%= release.track_title %></p>
        <div class="underline" style="background-color: rgba(<%= color %>)"></div>
      </div>
      <div class="icons">
        <% if release.spotify_link && release.spotify_link.length > 0 %>
          <%= link_to release.spotify_link, target: :blank do %>
            <i class="fab fa-spotify" style="color: rgba(<%= color %>)"></i>
          <% end %>
        <% end %>
        <% if release.apple && release.apple.length > 0 %>
          <%= link_to release.apple, target: :blank do %>
            <i class="fab fa-apple" style="color: rgba(<%= color %>)"></i>
          <% end %>
        <% end %>
        <% if release.amazon && release.amazon.length > 0 %>
          <%= link_to release.amazon, target: :blank do %>
            <i class="fab fa-amazon" style="color: rgba(<%= color %>)"></i>
          <% end %>
        <% end %>
      </div>
      <%= raw release.spotify_embed %>
    </div>
  </div>
<% end %>
