<h1>Releases</h1>

<%= link_to "New release", editor_releases_new_path %>

<% @releases.each do |release| %>
  <div>
    <%= release.artist_name %>
    <%= release.track_title %>
    <%= link_to "edit", edit_release_path(release) %>
    <%= link_to "delete", delete_release_path(release), method: :delete, data: { confirm: 'Do you really want to delete?' } %>
    <%# INSERT release image %>
  </div>
<% end %>
