<h1>Edit <%= @release.track_title %></h1>

<%= simple_form_for @release, :url => update_release_path(@release) do |f| %>
  <%= f.input :track_title  %>
  <%= f.input :artist_name %>
  <%= f.input :spotify  %>
  <%= f.input :apple  %>
  <%= f.input :tidal  %>
  <%= f.input :amazon  %>
  <%= f.submit value: "Save" %>
<% end %>
