<h1>Create new release</h1>

<%= simple_form_for @release, url: create_release_path do |f| %>
  <%= f.input :track_title  %>
  <%= f.input :artist_name %>
  <%= f.input :spotify  %>
  <%= f.input :apple  %>
  <%= f.input :tidal  %>
  <%= f.input :amazon  %>
  <%= f.input :photo, as: :file %>
  <%= f.submit value: "Create" %>
<% end %>
